* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .icon {
      src: format(ico);
     size: 192*192; 
  }
.bg-light {
    background-color: rgb(8, 163, 99)!important;
}

.carousel-item active {
    height: 100px;
    width: 300px;
    padding: 50px;
}
footer {
    background-color: black;
    color: white;
    text-align:left;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    padding-left: 100px;
}
footer ul {
    list-style-type: none;
    margin-right: 3rem;
}
footer ul li {
    display: inline;
    text-decoration: none;
    padding-right: 2rem;
}
footer h4 {
    padding-bottom: 1rem;
}